<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite allow-return-values="true" name="Suite">
	<listeners>
		<listener class-name="ListnerDemo.ListnerDemo2" />
	</listeners>
	<test name="TestDMOE">
		<classes>
			<class name="testautomationpractice.testautomationpracticeDemo">
			
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
